@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7fafc;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #ddbc72;
  margin-left: 0.3em;
}

input,
textarea {
  color: rgb(51 65 85) !important;
}
