.wrapper {
  width: 80%;
  height: 80vh;
  margin: 1rem auto 0;
}

.wrapper div {
  margin-bottom: 0.2rem;
}

.note input {
  width: 100%;
}

.notes textarea {
  width: 100%;
  height: calc(100vh - 335px);
  min-height: 100px;
}

.notes textarea:disabled {
  color: lightgray !important;
}

.notes .zenmode {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}